@font-face {
  font-family: 'spotify-circular';
  src: url('https://open.scdn.co/fonts/CircularSpUIv3T-Light.woff2') format('woff2'), 
       url('https://open.scdn.co/fonts/CircularSpUIv3T-Light.woff') format('woff'),  
       url('https://open.scdn.co/fonts/CircularSpUIv3T-Light.ttf') format('ttf');
  font-weight: 200;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-signin {
  width: 20%;
  margin : auto;
}

.form-signin > * {
  margin : 4px;
  padding : 2px;
}

.type-icon{
  width:90%;
  margin:auto;
}

.table-title{
  margin-left: 5%;
  margin-top: 10px;
}

.reimb-table{
  widows: 90%;
  margin: auto;
}
